<div class="container">
  <div class="content_box">
    <h2>Results for <%= @round.deck.name %></h2>
    <p class='score'><%= @round.score %>%</p>
  </div>
  <ul>
    <% @round.wrong_guesses.each do |guess| %>
      <div class="content_box">
        <li><strong><%= guess.card.question %></strong></li>
        <li class="result"><span class="wrong">You said: <%= guess.response %></span></li>
        <li class="result"><span class="right">Samuel says: <%= guess.card.answer %></span></li>
      </div>
    <% end %>
  </ul>

  <!-- <a href="/" class="button">My Profile</a> -->
</div>


