<div class="container">
  <h2>Results for <%= @round.deck.name %></h2>
  <%= @round.score %>
  <ul>
    <% @round.wrong_guesses.each do |guess| %>
      <div class="wrong_guess">
        <li> <%= guess.card.question %></li>
          <p>You said:</p>
        <li><%= guess.response %></li>
          <p>Samuel says:</p>
        <li><%= guess.card.answer %></li>
      </div>
    <% end %>
  </ul>
</div>


