<div class="container">
  <h2>Results for <%= @round.deck.name %></h2>
  <%= @round.score %>
  <ul>
    <% @round.wrong_guesses.each do |guess| %>
      <div class="content_box">
        <li><strong><%= guess.card.question %></strong></li>
        <li><span class="wrong">You said: <%= guess.response %></span></li>
        <li><span class="right">Samuel says: <%= guess.card.answer %></span></li>
      </div>
    <% end %>
  </ul>
</div>


